body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}


header {
	background-color: #fff;
	border-bottom: 2px solid #ddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
}

#header_Part {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	flex-wrap: wrap;
}


#header_Part img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-left: 0px;
	transition: transform 0.3s ease-in-out;
}

#header_Part img:hover {
	transform: scale(1.1);
}

#header_Part h1 {
	color: grey;
	font-size: 24px;
	line-height: 1.2;
	margin: 0;
	margin-right: 23px;
	flex: 1;
	transition: color 0.3s ease-in-out;
}

#header_Part h1:hover {
	color: #ff5200;
}

.food_Nav {
	display: flex;
	align-items: center;
	margin-left: 200px;
	flex: 1;
}

.food_Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
}

.food_Nav li {
	margin-left: 40px;
}

.food_Nav a {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	display: flex;
	align-items: center;
	transition: color 0.3s, transform 0.3s;
}

.food_Nav a:hover {
	color: #ff5200;
	transform: scale(1.1);
}

.food_Nav i {
	font-size: 20px;
	margin-right: 8px;
}

.link-text {
	font-weight: bold;
}
.food_Menu {
	padding: 20px;
}

.food-wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.food-scroll {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	white-space: nowrap;
	width: 100%;
	flex: 1;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.food-scroll::-webkit-scrollbar {
	display: none;
}

.food-show {
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

.food-show img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
}

.scroll-button {
	background-color: #ff5200;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#scroll-left {
	left: 0;
}

#scroll-right {
	right: 0;
}

.food_Resturent {
	padding: 20px;
}

.carousel-container {
	display: flex;
	align-items: center;
	position: relative;
	width: 1195px;
	height: 300px;
	overflow: hidden;
}

.carousel-wrapper {
	display: flex;
	overflow: hidden;
	width: 100%;
}
