<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Order Food Online
    </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div id="header">
            <img src="img/logo.svg"><br><br><br>
            <div>
                <h1><b>Others</b></h1>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <!---- <i class="fa-solid fa-angle-down"></i>-->
            </div>
            <nav>

                <ul>
                    <li>
                        <a href="corporate.html">
                            <i class="fa-brands fa-page4"></i>
                            <span class="link-text"><b>Swiggy Corporate</b></span>
                        </a>
                    </li>

                    <li>
                        <a href="search.html">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            <span class="link-text"><b>Search</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="offers.html">
                            <i class="fa-solid fa-tag"></i>
                            <span class="link-text"><b>Offers</b> </span>
                        </a>
                    </li>
                    <li>
                        <a href="help.html">
                            <i class="fa-brands fa-hire-a-helper"></i>
                            <span class="link-text"><b>Help</b> <b>us</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="signin.html">
                            <i class="fa-solid fa-user"></i>
                            <span class="link-text"><b>Sign In</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="card.html">
                            <i class="fa-solid fa-id-card-clip"></i>
                            <span class="link-text"><b>Card</b></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-corporate" style="text-align: center;padding-left:200px;background-color: #ff520f;">
        <div class="left-side">
            <img src="img/bike.png" width="300px" height="300px">
        </div>
        <div style="font-weight: 900;width:600px;height:300px">
            <h1>About Swiggy</h1>
            <p>Swiggy is a new-age consumer-first organization offering an easy-to-use <br> convenience platform, accessible through a unified app.</p>
        </div>

        <div class="right-side">
            <img src="img/bag.png" width="300px" height="300px">
        </div>
    </div>
 
</body>
</html>
