<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Search with Images</title>
</head>
<body>
    <section>
        <div id="search-container">

            <input type="text" id="search-input" placeholder="Enter food name...">
            <button onclick="searchFood()">Search</button>
        </div>
        <div id="food-details"></div>
    </section>

    <section>
        <div class="containe">
            <div class="food-wrapper">
                <div class="food-scroll">
                    <div class="food-show">
                        <a href="biriyani.html"><img src="img/h1.avif" alt="food 1"></a>
                    </div>
                    <div class="food-show">
                        <a href="south.html"><img src="img/h2.avif" alt="food 2"></a>
                    </div>
                    <div class="food-show">
                        <img src="img/h3.avif" alt="food 3">
                    </div>
                    <div class="food-show">
                        <img src="img/h4.avif" alt="food 4">
                    </div>
                    <div class="food-show">
                        <img src="img/h5.avif" alt="food 5">
                    </div>
                    <div class="food-show">
                        <img src="img/h6.avif" alt="food 1">
                    </div>
                    <div class="food-show">
                        <img src="img/h7.avif" alt="food 2">
                    </div>
                    <div class="food-show">
                        <img src="img/h8.avif" alt="food 3">
                    </div>
                    <div class="food-show">
                        <img src="img/h9.avif" alt="food 4">
                    </div>
                    <div class="food-show">
                        <img src="img/h10.avif" alt="food 5">
                    </div>
                    <div class="food-show">
                        <img src="img/h11.avif" alt="food 1">
                    </div>
                    <div class="food-show">
                        <img src="img/h12.avif" alt="food 2">
                    </div>
                    <div class="food-show">
                        <img src="img/h13.avif" alt="food 3">
                    </div>
                    <div class="food-show">
                        <img src="img/h14.avif" alt="food 4">
                    </div>
                    <div class="food-show">
                        <img src="img/h15.avif" alt="food 5">
                    </div>
                </div>
    </section>
</body>
</html>
