<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Order Food Online
    </title>
    <link rel="stylesheet" type="text/css" href="/OnlineFood_Website/Assert/CSS/Core/Styles.CSS">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div id="header_Part">
            <img src="/OnlineFood_Website/Assert/Image/logo.svg"><br><br><br>
            <div>
                <h1><b>Others</b></h1>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="menu" class="menu" onclick="toggleMenu()">
                <a href="#" class="close-icon">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                <br><br>

                <div id="search-container">
                    <input type="text" id="search-input" placeholder="Enter food name....">
                    <button id="search" onclick="searchFood()">Search</button>
                </div>

                <div id="food-details"></div>
                <br><br>
                <div class="location-info">
                    <h3><i class="fa-solid fa-location-crosshairs"></i> <a href="https://www.google.co.in/maps/place/%E0%AE%A4%E0%AF%87%E0%AE%A9%E0%AE%BF,+%E0%AE%A4%E0%AE%AE%E0%AE%BF%E0%AE%B4%E0%AF%8D+%E0%AE%A8%E0%AE%BE%E0%AE%9F%E0%AF%81/@10.0159694,77.4221713,13z/data=!3m1!4b1!4m6!3m5!1s0x3b071353e94a7877:0x962bf8fd53981722!8m2!3d10.0079322!4d77.4735441!16zL20vMDR0dnF3?entry=ttu">Get Current Location</a></h3>
                    <p>Using GPS</p>
                </div>
            </div>

            <nav class="food_Nav">
                <ul>
                    <li>
                        <a href="corporate.html">
                            <i class="fa-brands fa-page4"></i>
                            <span class="link-text"><b>Swiggy Corporate</b></span>
                        </a>
                    </li>

                    <li>
                        <a href="search.html">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            <span class="link-text"><b>Search</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="offers.html">
                            <i class="fa-solid fa-tag"></i>
                            <span class="link-text"><b>Offers</b> </span>
                        </a>
                    </li>
                    <li>
                        <a href="help.html">
                            <i class="fa-brands fa-hire-a-helper"></i>
                            <span class="link-text"><b>Help</b> <b>us</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="signin.html">
                            <i class="fa-solid fa-user"></i>
                            <span class="link-text"><b>Sign In</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="card.html">
                            <i class="fa-solid fa-id-card-clip"></i>
                            <span class="link-text"><b>Card</b></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <h1 style="font-weight: 700;font-size: 30px;text-indent: 30px;"> South Indian</h1>
        <p style="font-weight: 300;text-indent: 30px;">Explore hot & spicy dishes that are a specialty of South India.</p>
        <div id="cc">
            <button id="pp"><a href="">Filter Choice<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href="">sort By Food<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href=""> Fast Delivery<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href=""> New on swiggy<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href=""> Ratings 4.0+<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href="">Pure Veg dishs<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href="">Offers Now<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href="">Rs.300-rs.600<i class="fa-solid fa-angle-down"></i></a></button>
            <button id="pp"><a href=""> Less than Rs.300<i class="fa-solid fa-angle-down"></i></a></button>
        </div><br><br>

        <div class="gallery">
            <div class="gallery-item">
                <img src="img/s1.avif" alt="Description of image 1">
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s2.avif" alt="Description of image 2">
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <img src="img/s3.avif" alt="Description of image 3">
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s4.avif" alt="Description of image 1">
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s5.avif" alt="Description of image 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s6.avif" alt="Description of image 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s7.avif" alt="Description of image 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s8.avif" alt="Description of image 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s9.avif" alt="Description of image 3">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s10.avif" alt="Description of image 1">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s11.avif" alt="Description of image 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s12.avif" alt="Description of image 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s13.avif" alt="Description of image 1">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s14.avif" alt="Description of image 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s15.avif" alt="Description of image 3">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s16.avif" alt="Description of image 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s17.avif" alt="Description of image 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s18.avif" alt="Description of image 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s19.avif" alt="Description of image 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s20.avif" alt="Description of image 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>


            <div class="gallery-item">
                <img src="img/s21.avif" alt="Description of image 1">
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s22.avif" alt="Description of image 2">
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <img src="img/s23.avif" alt="Description of image 3">
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s24.avif" alt="Description of image 1">
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>

            <div class="gallery-item">
                <img src="img/s25.avif" alt="Description of image 1">
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s2.avif" alt="Description of image 2">
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <img src="img/s3.avif" alt="Description of image 3">
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s4.avif" alt="Description of image 1">
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s5.avif" alt="Description of image 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s6.avif" alt="Description of image 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s7.avif" alt="Description of image 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s8.avif" alt="Description of image 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s9.avif" alt="Description of image 3">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s10.avif" alt="Description of image 1">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s11.avif" alt="Description of image 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s25.avif" alt="Description of image 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s13.avif" alt="Description of image 1">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s14.avif" alt="Description of image 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s15.avif" alt="Description of image 3">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s16.avif" alt="Description of image 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/s17.avif" alt="Description of image 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s18.avif" alt="Description of image 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s19.avif" alt="Description of image 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/s20.avif" alt="Description of image 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>
            <div class="gallery-item">
                <img src="img/s21.avif" alt="Description of image 1">
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/s22.avif" alt="Description of image 2">
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <img src="img/s23.avif" alt="Description of image 3">
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/s24.avif" alt="Description of image 1">
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>

        </div>

        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Swiggy</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Swiggy One</a></li>
                        <li><a href="#">Swiggy Instamart</a></li>
                        <li><a href="#">Swiggy Genie</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Web Deliver To</h3>
                    <ul>
                        <li><a href="#">Bangalore</a></li>
                        <li><a href="#">Delhi</a></li>
                        <li><a href="#">Pune</a></li>
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Kochi</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Cookies Policy</a></li>
                        <li><a href="#">Investor Relations</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <ul class="social-links" style="padding-left:180px">
                        <li><a href="#" class="social-icon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="social-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="social-icon" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" class="social-icon" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h3>Download Our App</h3>
                    <ul class="app-links" style="padding-left:120px">
                        <li><a href="#">App Store</a></li>
                        <li><a href="#">Google Play</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Contact Us: <a href="mailto:support@bookmyshow.com">Swiggy@onlineorder</a> | Phone: (91+) 9876543210</p>
                <p>&copy; 2024 Swiggy Online Order. All Rights Reserved.</p>
            </div>
        </footer>

    </main>
     </body>
</html>