<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Order Food Online
    </title>
    <link rel="stylesheet" type="text/css" href="/OnlineFood_Website/Assert/CSS/Core/Styles.CSS">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div id="header_Part">
            <img src="/OnlineFood_Website/Assert/Image/logo.svg"><br><br><br>
            <div>
                <h1><b>Others</b></h1>
            </div>
            <div class="menu-icon">
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="menu" class="menu">
                <a href="#" class="close-icon">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                <br><br>

                <div id="search-container">
                    <input type="text" id="search-input" placeholder="Enter food name....">
                    <button id="search">Search</button>
                </div>

                <div id="food-details"></div>
                <br><br>
                <div class="location-info">
                    <h3><i class="fa-solid fa-location-crosshairs"></i> <a href="https://www.google.co.in/maps/place/%E0%AE%A4%E0%AF%87%E0%AE%A9%E0%AE%BF,+%E0%AE%A4%E0%AE%AE%E0%AE%BF%E0%AE%B4%E0%AF%8D+%E0%AE%A8%E0%AE%BE%E0%AE%9F%E0%AF%81/@10.0159694,77.4221713,13z/data=!3m1!4b1!4m6!3m5!1s0x3b071353e94a7877:0x962bf8fd53981722!8m2!3d10.0079322!4d77.4735441!16zL20vMDR0dnF3?entry=ttu">Get Current Location</a></h3>
                    <p>Using GPS</p>
                </div>
            </div>

            <nav class="food_Nav">
                <ul>
                    <li>
                        <a href="corporate.html">
                            <i class="fa-brands fa-page4"></i>
                            <span class="link-text"><b>Swiggy Corporate</b></span>
                        </a>
                    </li>

                    <li>
                        <a href="search.html">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            <span class="link-text"><b>Search</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="offers.html">
                            <i class="fa-solid fa-tag"></i>
                            <span class="link-text"><b>Offers</b> </span>
                        </a>
                    </li>
                    <li>
                        <a href="help.html">
                            <i class="fa-brands fa-hire-a-helper"></i>
                            <span class="link-text"><b>Help</b> <b>us</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="signin.html">
                            <i class="fa-solid fa-user"></i>
                            <span class="link-text"><b>Sign In</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="card.html">
                            <i class="fa-solid fa-id-card-clip"></i>
                            <span class="link-text"><b>Card</b></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="food_Menu">
            <h1 style="font-weight: 900;font-size:30px;">What's On Your Mind?</h1>
            <div class="food-wrapper">
                <button class="scroll-button" id="scroll-left"> < </button>
                <div class="food-scroll">
                    <div class="food-show">
                        <a href="biriyani.html">
                            <img src="/OnlineFood_Website/Assert/Image/s1.avif" alt="food 1">
                        </a>
                    </div>
                    <div class="food-show">
                        <a href="south.html">
                            <img src="/OnlineFood_Website/Assert/Image/s2.avif" alt="food 2">
                        </a>
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/s3.avif" alt="food 3">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a4.avif" alt="food 4">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a5.avif" alt="food 5">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a6.avif" alt="food 6">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a7.avif" alt="food 7">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a8.avif" alt="food 8">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a9.avif" alt="food 9">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a10.avif" alt="food 10">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a11.avif" alt="food 11">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a12.avif" alt="food 12">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a13.avif" alt="food 13">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a14.avif" alt="food 14">
                    </div>
                    <div class="food-show">
                        <img src="/OnlineFood_Website/Assert/Image/a15.avif" alt="food 15">
                    </div>
                    <button class="scroll-button" id="scroll-right"> > </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="food_Resturent">
            <h1 style="font-weight: 900; font-size: 30px;text-indent: 30px;">Top Resturent In Theni</h1>
            <div class="carousel-container">
                <button class="carousel-button" id="carousel-left">&lt;</button>
                <div class="carousel-wrapper">
                    <div class="carousel">

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a1.avif" alt="food_Smoor"></a>
                            <h2>SMOOR</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a2.avif" alt="food_BurgerKing"></a>
                            <h2>Burger King</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                            <p>Burger,American<br>Kancheepuram</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"> <img src="/OnlineFood_Website/Assert/Image/a3.avif" alt="food_LaPinozPizza"></a>
                            <h2>La Pino'z Pizza</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                            <p>Pizzas, Pastas, Italian, Beverages<br>Solinganuallur</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html">
                                <img src="/OnlineFood_Website/Assert/Image/a4.avif" alt="food_Subway">
                            </a><h2>Subway</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                            <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a5.avif" alt="food_Maruthi"></a>
                            <h2>Maruthi</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a6.avif" alt="food_Annai"></a>
                            <h2>Annai</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Pizzas, Italian<br>Old OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a7.avif" alt="food_Naga"></a>
                            <h2>Naga</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Desserts<br> OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a8.avif" alt="food_Kovmari"></a>
                            <h2>Kovmari</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html">
                                <img src="/OnlineFood_Website/Assert/Image/a9.avif" alt="food_PHNTD">
                            </a><h2>PHNTD</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a10.avif" alt="food_RMPV_Fam"></a>
                            <h2>RMPV</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Merina road</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a11.avif" alt="food_SPN"></a><h2>SPN</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Kandasavadi</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a12.avif" alt="food_NPHD"></a>
                            <h2>NPHD</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a3.avif" alt="food_SMOTHI"></a>
                            <h2>SMOTHI</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br> Road OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a1.avif" alt="food_ROR"></a>
                            <h2>ROR</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
                        </div>

                        <div class="carousel-item">
                            <a href="click.html"><img src="/OnlineFood_Website/Assert/Image/a8.avif" alt="food_BURGERMAN"></a>
                            <h2>BURGER MAN</h2>
                            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                            <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-button" id="carousel-right">&gt;</button>
            </div>
        </div>
    </section>

    <main class="main-content">
        <h2 style="font-weight: 900;font-size: 30px;text-indent: 30px;">Restaurants with online food delivery in Theni </h2>
        <div id="food_Deley">
            <button id="filter-button">Filter Choice <i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online">sort By Food<i class="fa-solid fa-angle-down"></i> </button>
            <button id="food_Online"> Fast Delivery<i class="fa-solid fa-angle-down"></i> </button>
            <button id="food_Online"> New on swiggy<i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online"> Ratings 4.0+<i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online">Pure Veg dishs<i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online">Offers Now<i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online">Rs.300-rs.600<i class="fa-solid fa-angle-down"></i></button>
            <button id="food_Online"> Less than Rs.300<i class="fa-solid fa-angle-down"></i></button>
        </div><br><br>

        <div id="filter-popup">
            <div id="filter-left">
                <div class="filter-option" data-filter="sort">Sort</div>
                <div class="filter-option" data-filter="delivery-time">Delivery Time</div>
                <div class="filter-option" data-filter="rating">Rating</div>
                <div class="filter-option" data-filter="relevance">Relevance</div>
                <div class="filter-option" data-filter="cost-low-high">Cost Low to High</div>
                <div class="filter-option" data-filter="cost-high-low">Cost High to Low</div>
            </div>

            <div id="filter-right"> </div>

            <div class="filter-footer">
                <button id="clear-filters">Clear Filters</button>
                <button>Apply Filters</button>
                <button id="close-popup">Close</button>
            </div>

            <div id="filter-popup" style="display: none;">
                <div id="filter-left">
                    <div class="filter-option" data-filter="sort">Sort</div>

                </div>
                <div id="filter-right"> </div>

                <div class="filter-footer" style="display: none;">
                    <button id="clear-filters">Clear Filters</button>
                    <button>Apply Filters</button>
                    <button id="close-popup">Close</button>
                </div>
            </div>
        </div>

    </main>
    <section>
        <div class="gallery">
            <div class="gallery-item">
                <a href="click.html"><img src="img/b1.avif" alt="Images 1"></a>
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <a href="click.html"><img src="img/b2.avif" alt="Images 2"></a>
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <a href="click.html"><img src="img/b3.avif" alt="Images 3"></a>
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <a href="click.html"><img src="img/b4.avif" alt="Images 1"></a>
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/b5.avif" alt="Images 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/b6.avif" alt="Images 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/b7.avif" alt="Images 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/b8.avif" alt="Images 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>

            <div class="gallery-item">
                <img src="img/b9.avif" alt="Images 3">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b10.avif" alt="Images 1">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b11.avif" alt="Images 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/b12.avif" alt="Images 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/b13.avif" alt="Images 1">
                <h2>BURGER</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b14.avif" alt="Images 2">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>

            <div class="gallery-item">
                <img src="img/b15.avif" alt="Images 3">
                <h2>ROR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old  OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b16.avif" alt="Images 3">
                <h2>PHNTD</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Pallavakam</p>
            </div>


            <div class="gallery-item">
                <img src="img/b17.avif" alt="Images 2">
                <h2>Kovmari</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b18.avif" alt="Images 3">
                <h2>Bavani</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Pizzas, Italian<br>Old OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b19.avif" alt="Images 1">
                <h2>OMR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Desserts<br> OMR</p>
            </div>

            <div class="gallery-item">
                <img src="img/b20.avif" alt="Images 2">
                <h2>A2B</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
            </div>
            <div class="gallery-item">
                <img src="img/b21.avif" alt="Images 1">
                <h2>SMOOR</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
                <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
            </div>
            <div class="gallery-item">
                <img src="img/b22.avif" alt="Images 2">
                <h2>Burger King</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
                <p>Burger,American<br>Kancheepuram</p>
            </div>
            <div class="gallery-item">
                <img src="img/b23.avif" alt="Images 3">
                <h2>La Pino'z Pizza</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
                <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
            </div>
            <div class="gallery-item">
                <img src="img/b24.avif" alt="Images 1">
                <h2>Maruthi</h2>
                <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
                <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
            </div>
        </div>

        <div class="gallery-item">
            <img src="img/b17.avif" alt="Description of image 2">
            <h2>Kovmari</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
            <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
        </div>

        <div class="gallery-item">
            <img src="img/b18.avif" alt="Description of image 3">
            <h2>Bavani</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
            <p>Pizzas, Italian<br>Old OMR</p>
        </div>

        <div class="gallery-item">
            <img src="img/b19.avif" alt="Description of image 1">
            <h2>OMR</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
            <p>Desserts<br> OMR</p>
        </div>

        <div class="gallery-item">
            <img src="img/b20.avif" alt="Description of image 2">
            <h2>A2B</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
            <p>Cinense,Aisan,Tibetan,Desserts<br>Kottivakkam</p>
        </div>

        <div class="gallery-item">
            <img src="img/b21.avif" alt="Description of image 1">
            <h2>SMOOR</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>3.9 30-35 mins</h3>
            <p>Cinense,Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
        </div>

        <div class="gallery-item">
            <img src="img/b22.avif" alt="Description of image 2">
            <h2>Burger King</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>4.3 20-25 mins</h3>
            <p>Burger,American<br>Kancheepuram</p>
        </div>

        <div class="gallery-item">
            <img src="img/b23.avif" alt="Description of image 3">
            <h2>La Pino'z Pizza</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>4 25-30 mins</h3>
            <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
        </div>

        <div class="gallery-item">
            <img src="img/b24.avif" alt="Description of image 1">
            <h2>Maruthi</h2>
            <h3><i class="fa-solid fa-star" style="color: green;"></i>4.4 10-15 mins</h3>
            <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
        </div>
    </section>

    <h1 style="font-weight: 900;font-size: 30px;text-indent: 30px;">Best Places to Eat Across Cities </h1>
    <div class="gallery">
        <div class="gallery-items">
            <p>Aisan,Tibetan,Desserts<br>Old Mahabalipuram Road OMR</p>
        </div>
        <div class="gallery-items">
            <p>Burger,American<br>Kancheepuram</p>
        </div>
        <div class="gallery-items">
            <p>Pizzas, Pastas, Italian, Desserts, Beverages<br>Solinganuallur</p>
        </div>
        <div class="gallery-items">
            <p>Saldas,Snacks,Desserts<br>Solinganuallur</p>
        </div>
        <div class="gallery-items">
            <p>Cinense,Aisan,Desserts<br>Old Mahabalipuram Road OMR</p>
        </div>
        <div class="gallery-items">
            <p>Pizzas, Italian<br>Old OMR</p>
        </div>
        <div class="gallery-items">
            <p>Desserts<br> OMR</p>
        </div>
        <div class="gallery-items">
            <p>Cinense,Tibetan,Desserts<br>Kottivakkam</p>
        </div>

        <div class="gallery-items">
            <p>Cinense,Aisan<br>Old Mahabalipuram Road OMR</p>
        </div>

        <div class="gallery-items">
            <p>Tibetan,Desserts<br>Old  OMR</p>
        </div>

        <div class="gallery-items">
            <p>Cinense,Desserts<br>Pallavakam</p>
        </div>

        <div class="gallery-items">
            <p>Aisan,Tibetan<br>Pallavakam</p>
        </div>

        <div class="gallery-items">
            <p>Cinense,Aisan,Tibetan<br>Old Mahabalipuram Road OMR</p>
        </div>

        <div class="gallery-items">
            <p>Cinense,Tibetan,Desserts<br>Pallavakam</p>
        </div>

        <div class="gallery-items">
            <p>Cinense,Aisan,Desserts<br>Old  OMR</p>
        </div>

        <div class="gallery-items">
            <p>Tibetan,Desserts<br>Pallavakam</p>
        </div>
    </div>

    <h1 style="font-weight: 900;font-size: 30px;text-indent: 30px;">Best Cuisines Near Me</h1>
    <div class="gallery">
        <div class="gallery-items">
            <p>Cinense Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>South Indian Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>Indian Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>Kerala Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>Korean Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>North Indian Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>Seafood Restaurants Near Me</p>
        </div>
        <div class="gallery-items">
            <p>Bengali Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Punjabi Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Italian Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Andhra Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Birayani Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Aisan Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Desserts Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Jain Restaurants Near Me</p>
        </div>

        <div class="gallery-items">
            <p>Thai Restaurants Near Me</p>
        </div>
    </div>

    <h1 style="font-weight: 900;font-size: 30px;text-indent: 30px;">Explore Every Restaurants Near Me</h1>
    <div class="gallery">
        <div class="gallery-items">
            <p>Explore Restaurants Near Me</p>
        </div><br><br>
        <div class="gallery-items">
            <p>Explore Top Rated Restaurants Near Me</p>
        </div>
    </div>
    <div>
        <img src="img/bg.jpeg" style="width:200px;height:100%" />
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Swiggy</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Swiggy One</a></li>
                    <li><a href="#">Swiggy Instamart</a></li>
                    <li><a href="#">Swiggy Genie</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Web Deliver To</h3>
                <ul>
                    <li><a href="#">Bangalore</a></li>
                    <li><a href="#">Delhi</a></li>
                    <li><a href="#">Pune</a></li>
                    <li><a href="#">Mumbai</a></li>
                    <li><a href="#">Kochi</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                    <li><a href="#">Investor Relations</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Follow Us</h3>
                <ul class="social-links" style="padding-left:180px">
                    <li><a href="#" class="social-icon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="social-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="social-icon" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="social-icon" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Download Our App</h3>
                <ul class="app-links" style="padding-left:120px">
                    <li><a href="#">App Store</a></li>
                    <li><a href="#">Google Play</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Contact Us: <a href="mailto:support@FoodWebsite.com">Swiggy@onlineorder</a> | Phone: (91+) 9876543210</p>
            <p>&copy; 2024 Swiggy Online Order. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html> 